body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
}

body.dark-mode {
  background-color: #2c2c2c;
  color: #e0e0e0;
}

.status-label {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}


.container {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

body.dark-mode .container {
    background-color: #4a4848;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

#chat-history {
    margin-bottom: 20px;
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#chat-history:empty {
    border: none;
    padding: 0;
}

#chat-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#chat-form input[type="text"],
#chat-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-family: monospace;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

body.dark-mode #chat-form input[type="text"],
body.dark-mode #chat-form input[type="password"] {
    background-color: #cccc;
}

#chat-form button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    align-self: center;
}

#chat-form button:hover {
    background-color: #0056b3;
}

#clear-button {
    background-color: #dc3545;
}

#clear-button:hover {
    background-color: #b02a37;
}

.settings-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.settings-button img {
    width: 24px;
    height: 24px;
}

.dark-mode-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
}

.dark-mode-button img {
    width: 24px;
    height: 24px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    display: none;
}