<!DOCTYPE html>
<html>
<head>
   <title>Wuzzi's Chatbot - Settings</title>
   <link rel="stylesheet" href="style.css">
        <script>
      document.addEventListener('DOMContentLoaded', function() {
        if (localStorage.getItem('darkMode') === 'enabled') {
          document.body.classList.add('dark-mode');
        }
      });
      function toggleDarkMode() {
        document.body.classList.toggle('dark-mode');
        if (document.body.classList.contains('dark-mode')) {
          localStorage.setItem('darkMode', 'enabled');
        } else {
          localStorage.setItem('darkMode', 'disabled');
        }
      }
    </script>
</head>
<body>
   <div class="container">
       <h1>Wuzzi's Chatbot - Settings</h1>
       <form id="chat-form">
           <label for="api-key">Wuzzi Chatbot API Key:</label>
           <input type="password" id="api-key" name="api-key" required>
          
           <label for="api-provider">API Provider (groq | openai | ollama):</label>
           <input type="text" id="api-provider" name="api-provider" required>
           <div class="button-container" style="align-self: center;">
                <button type="submit">Save</button>
                <button type="button" id="back-button" onclick="goBack()">Home</button>
           </div>
           <div id="status-label" class="status-label"></div>
       </form>
   </div>
   <div class="dark-mode-button" onclick="toggleDarkMode()">Toggle Dark Mode</div>
   <div class="settings-button" onclick="location.href='download/swagger.json'">Download swagger.json</div>
   <script defer>
        var apiKeyInput = document.getElementById("api-key");
        var apiProviderInput = document.getElementById("api-provider");
        var statusLabel = document.getElementById("status-label");

        var savedApiKey = localStorage.getItem("apiKey");
        var savedApiProvider = localStorage.getItem("apiProvider");

        if (savedApiKey) {
            apiKeyInput.value = savedApiKey;
        }

        if (savedApiProvider) {
            apiProviderInput.value = savedApiProvider;
        }

        document.getElementById("chat-form").addEventListener("submit", 
            function(event) {
                event.preventDefault();

                var apiKey = apiKeyInput.value;
                var apiProvider = apiProviderInput.value;

                localStorage.setItem("apiKey", apiKey);
                localStorage.setItem("apiProvider", apiProvider);

                statusLabel.textContent = "Settings saved successfully!";
            });

       function goBack() {
           window.location.href = "/";
       }
   </script>
</body>
</html>
